<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        /* Tu CSS aquí */
    </style>
</head>
<body class="deep-purple lighten-4">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <form action="/edit" method="post">
        <div class="container" style="background-color: rgb(230, 197, 231); border-radius: 5%;">
            <label for="NumeroTrabajador" style="display: block; font-size: 30px; color: black; background-color: rgb(249, 250, 243); margin: 0 auto; width: fit-content;">Introduce el número del trabajador:</label>
            <br><br><br>
            <input style="border-radius: 15%; color: darkmagenta; font-size: 30px; background-color: rgb(236, 241, 240); text-align: right;" type="text" id="NumeroTrabajador" name="NumeroTrabajador" value="<%= trabajadores.NumeroTrabajador%>" readonly>
            <br><br><br><br>
            <label for="NombreCompleto" style="display: block; font-size: 30px; color: rgb(7, 7, 7); background-color: white; margin: 0 auto; margin: 0 auto; width: fit-content">Nombre y apellidos:</label>
            <br><br><br><br>
            <input style="border-radius: 15%; color: darkmagenta; font-size: 30px; background-color: rgb(255, 255, 255);" type="text" id="NombreCompleto" name="NombreCompleto" value="<%= trabajadores.NombreCompleto %>">
            <br><br><br><br>
            <label for="CorreoElectronicoInstitucional" style="display: block; font-size: 30px; color: black; background-color: rgb(255, 255, 255); margin: 0 auto; width: fit-content">Correo electrónico:</label>
            <br><br><br><br>
            <input style="border-radius: 15%; color: darkmagenta; font-size: 30px; background-color: rgb(255, 255, 255);" type="email" id="CorreoElectronicoInstitucional" name="CorreoElectronicoInstitucional" value="<%= trabajadores.CorreoElectronicoInstitucional %>">
            <br><br><br><br>
            <label for="Curp" style="display: block; font-size: 30px; color: black; background-color: rgb(255, 255, 255); margin: 0 auto; width: fit-content">CURP:</label>
            <br><br>
            <input style="border-radius: 15%; color: darkmagenta; font-size: 30px; background-color: rgb(255, 255, 255);" type="text" id="Curp" name="Curp" value="<%= trabajadores.Curp %>">
            <br><br>

            <label for="TelefonoCelular" style="display: block; font-size: 30px; color: black; background-color: rgb(255, 255, 255); margin: 0 auto; width: fit-content;">Número celular:</label>
            <br><br>
            <input style="border-radius: 15%; color: darkmagenta; font-size: 30px; background-color: rgb(255, 255, 255);" type="text" id="TelefonoCelular" name="TelefonoCelular" value="<%= trabajadores.TelefonoCelular %>">
            <label for="Direccion" style="display: block; font-size: 30px; color: black; background-color: rgb(255, 255, 255); margin: 0 auto; width: fit-content;">Dirección:</label>
            <br><br>
            <input style="border-radius: 15%; color: darkmagenta; font-size: 30px; background-color: rgb(255, 255, 255);" type="text" id="Direccion" name="Direccion" value="<%= trabajadores.Direccion %>">
            <br><br>
            <label for="Categoria" style="display: block; font-size: 30px; color: black; background-color: rgb(255, 255, 255); margin: 0 auto; width: fit-content;">Categoría:</label>
            <br><br>
            <input style="border-radius: 15%; color: darkmagenta; font-size: 30px; background-color: rgb(255, 255, 255);" type="text" id="Categoria" name="Categoria" value="<%= trabajadores.Categoria %>">
            <label for="GradoAcademico" style="display: block; font-size: 30px; color: black; background-color: rgb(255, 255, 255); margin: 0 auto; width: fit-content;">Grado académico:</label>
            <br><br>
            <input style="border-radius: 15%; color: darkmagenta; font-size: 30px; background-color: rgb(255, 255, 255);" type="text" id="GradoAcademico" name="GradoAcademico" value="<%= trabajadores.GradoAcademico%>">
            <br><br>
            <label for="AntiguedadUNAM" style="display: block; font-size: 30px; color: black; background-color: rgb(255, 255, 255); margin: 0 auto; width: fit-content;">Antigüedad en la UNAM:</label>
            <br><br>
            <input style="border-radius: 15%; color: darkmagenta; font-size: 30px; background-color: rgb(255, 255, 255);" type="text" id="AntiguedadUNAM" name="AntiguedadUNAM" value="<%= trabajadores.AntiguedadUNAM%>">
            <br><br>
            <label for="CorreoElectronicoInstitucional" style="display: block; font-size: 30px; color: black; background-color: rgb(255, 255, 255); margin: 0 auto; width: fit-content;">Correo electrónico institucional:</label>
            <br><br>
            <input style="border-radius: 15%; color: darkmagenta; font-size: 30px; background-color: rgb(255, 255, 255);" type="text" id="CorreoElectronicoInstitucional" name="CorreoElectronicoInstitucional" value="<%= trabajadores.CorreoElectronicoInstitucional%>">
            <br><br>
            <br><br>
            <label for="AntiguedadCarrera" style="display: block; font-size: 30px; color: black; background-color: rgb(255, 255, 255); margin: 0 auto; width: fit-content;">Antigüedad en la carrera:</label>
            <br><br>
            <input style="border-radius: 15%; color: darkmagenta; font-size: 30px; background-color: rgb(255, 255, 255);" type="text" id="AntiguedadCarrera" name="AntiguedadCarrera" value="<%= trabajadores.AntiguedadCarrera %>">
            <br><br>
            <label for="Genero" style="display: block; font-size: 30px; color: black; background-color: rgb(248, 252, 250); margin: 0 auto; width: fit-content;">Género (F/M):</label>
            <br><br>
            <input style="border-radius: 15%; color: darkmagenta; font-size: 30px; background-color: rgb(255, 255, 255);" type="text" id="Genero" name="Genero" value="<%= trabajadores.Genero %>">
            <br><br>
            <label for="Telefonocasa" style="display: block; font-size: 30px; color: black; background-color: rgb(248, 252, 250); margin: 0 auto; width: fit-content;">Teléfono de casa:</label>
            <br><br>
            <input style="border-radius: 15%; color: darkmagenta; font-size: 30px; background-color: rgb(255, 255, 255);" type="text" id="Telefonocasa" name="Telefonocasa" value="<%= trabajadores.telefonocasa %>">
            <br><br>
        </div>
        <br><br><br><br><br>
        <div class="containerbuttons">
            <button class="purple" style="font-size: 25px; text-align: center; color: black;" type="submit">Actualizar Registro</button>
            <button class="purple" style="font-size: 25px; text-align: center; color: black;"><a href="rename">Consultar BASE DE DATOS</a></button>
        </div>
    </form>
</body>
</html>